PASSWORD=password

# github repo secrets
# Add to ur repo's secrets, not where server is

# API_URL=http://127.0.0.1:8000
# API_PASSWORD=password

# CORS Origins - comma separated list, empty or NONE for *
CORS_ORIGINS=